@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: 0 28 121;
  --color-orange: 237 117 31;
  --color-black: 51 51 51;
  --color-white: 1 1 1;
  --color-grey: 204 204 204;
  --color-light-grey: 221 221 221;
  --color-yellow: 239 216 7;
  --color-yellow-green: 207 239 7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
